body {
background: rgba(171, 171, 171, 0.34);	
    position: relative;
    height: 100vh;
    margin: 0;
}
.validlink{
font-weight: bold;
font-size: 20px;
}
.box {
   
   /* background: rgba(171, 171, 171, 0.34);
   */
    text-align: center;
    position: relative;
    padding: 20px;
    left: 50%;
    top: 40%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
#gotolink{
    
   text-decoration: none;
    font-size: 20px;
    border-radius: 50px;
    /* border: 5px solid green; */
    padding: 10px;
    border: 2px solid #3cb879;
}
#gotolink:hover{
    
   background-color:#3cb879;color: #fff
}