    .cy_about_wrapper.cy_about_page {
    padding-bottom: 0px;
} 

.cy_price_box {
    
    height: auto;
}

.widget.widget_categories ul li {
    width: 100%;
    padding: 8px 20px;
    text-align: center;
}

.cy_achieve_overlay:after {
    position: absolute;
    width: 57.56%;
    right: -4%;
    top: 0;
    height: 100%;
    background-color:transparent;
    content: "";
    transform: skew(-14deg);
    -webkit-transform: skew(-14deg);
    -moz-transform: skew(-14deg);
    -o-transform: skew(-14deg);
    -ms-transform: skew(-14deg);
}

.cy_counter_wrapper {
    float: left;
    padding: 30px 15px;
    position: relative;
    z-index: 1;
}
