/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url('../fonts/Montserrat-Thin.html') format('woff2'), url('../fonts/Montserrat-Thin-2.html') format('embedded-opentype'), url('../fonts/Montserrat-Thin.woff') format('woff'), url('../fonts/Montserrat-Thin-3.html')  format('truetype'), url('../fonts/Montserrat-Thin-4.html#svgFontName') format('svg');
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url('../fonts/Montserrat-ExtraLight.html') format('woff2'), url('../fonts/Montserrat-ExtraLight-2.html') format('embedded-opentype'), url('../fonts/Montserrat-ExtraLight.woff') format('woff'), url('../fonts/Montserrat-ExtraLight-3.html')  format('truetype'), url('../fonts/Montserrat-ExtraLight-4.html#svgFontName') format('svg');
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url('../fonts/Montserrat-Light.html') format('woff2'), url('../fonts/Montserrat-Light-2.html') format('embedded-opentype'), url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light-3.html')  format('truetype'), url('../fonts/Montserrat-Light-4.html#svgFontName') format('svg');
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/Montserrat-Regular.html') format('woff2'), url('../fonts/Montserrat-Regular-2.html') format('embedded-opentype'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular-3.html')  format('truetype'), url('../fonts/Montserrat-Regular-4.html#svgFontName') format('svg');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url('../fonts/Montserrat-Medium.html') format('woff2'), url('../fonts/Montserrat-Medium-2.html') format('embedded-opentype'), url('../fonts/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium-3.html')  format('truetype'), url('../fonts/Montserrat-Medium-4.html#svgFontName') format('svg');
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url('../fonts/Montserrat-SemiBold.html') format('woff2'), url('../fonts/Montserrat-SemiBold-2.html') format('embedded-opentype'), url('../fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold-3.html')  format('truetype'), url('../fonts/Montserrat-SemiBold-4.html#svgFontName') format('svg');
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v10/IQHow_FEYlDC4Gzy_m8fcjh33M2A-6X0bdu871ruAGs.woff2) format('woff2');
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/Montserrat-Bold.html') format('woff2'), url('../fonts/Montserrat-Bold-2.html') format('embedded-opentype'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold-3.html')  format('truetype'), url('../fonts/Montserrat-Bold-4.html#svgFontName') format('svg');
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url('../fonts/Montserrat-ExtraBold.html') format('woff2'), url('../fonts/Montserrat-ExtraBold-2.html') format('embedded-opentype'), url('../fonts/Montserrat-ExtraBold.woff') format('woff'), url('../fonts/Montserrat-ExtraBold-3.html')  format('truetype'), url('../fonts/Montserrat-ExtraBold-4.html#svgFontName') format('svg');
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'), url('../fonts/Montserrat-Black.html') format('woff2'), url('../fonts/Montserrat-Black-2.html') format('embedded-opentype'), url('../fonts/Montserrat-Black.woff') format('woff'), url('../fonts/Montserrat-Black-3.html')  format('truetype'), url('../fonts/Montserrat-Black-4.html#svgFontName') format('svg');
}

/**----fonts css----**/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/Montserrat-Thin.woff);
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/Montserrat-ExtraLight.woff);
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Montserrat-Light.woff);
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Montserrat-Regular.woff);
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Montserrat-Medium.woff);
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Montserrat-SemiBold.woff);
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Montserrat-Bold.woff);
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/Montserrat-ExtraBold.woff);
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/Montserrat-Black.woff);
}