  .cy_checkout_box ul#progressbar li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}
    
    .whycycle{
        color:#fff;
        font-size:23px;
    }
    @media (max-width: 767px){
.whycycle{
        color:#fff;
        font-size:16px;
    }
}
@media only screen and (max-width: 500px) { 
tp-parallax-wrap{
    font-size:25px;
}

div#slide-1596-layer-1.tp-caption.NotGeneric-Title,.NotGeneric-Title
{
    font-size:30px !important;
    
}
div#slide-1596-layer-2.tp-caption.NotGeneric-Title,.NotGeneric-Title
{
    font-size:30px !important;
    
}
}

@media only screen and (max-width:1180px)
{
    .cy_tour_heading h1 {
    font-size: 40px;
}
}